
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*------------------------------- General */

body {
    font-family: 'Roboto', sans-serif;
}


/*------------------------------- Logo */

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

/*------------------------------- Navigation Bar */

